.top{
    font-size: 4rem;
    color: $color-white;
    &--upper{
        color: $color-grey;
    }
    &--bottom{
        font-size: 4.5rem;
        font-weight: 500;
    }
}
.equation{

}
.result{

}