*, *::after, *::before{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //    1rem = 10px
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: $color-dark-grey;
    background-color: $color-dark-grey;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
}