$color-blue: #64CFC9;
$color-red: rgb(240, 57, 57);
$color-white: #F4F4F4;
$color-grey: #DCD8D6;
$color-yellow: #F6D681;
$color-dark-grey: #A6A6A6;
$color-dark-blue: #214D59;
$color-purple: #640846;
$color-dark-blue-2: #070E54;